.container{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.thumb{
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    width: 638px;
    height: 418.9px;
    box-sizing: border-box;
    object-fit: cover;
}



.container p {
    color: #BDBDBD;
}

.drop-container {
    width: 638px;
    height: 418.9px;
    
    background: #F6F8FB;
    border: 1px dashed #97BEF4;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 175px;
}
.drop-container p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: -0.035em;

    /* Gray 4 */

    color: #BDBDBD;
}
.placeholder-image{
    width:200px;
}

.submit-button{
    padding: 11px;
    border: 1px solid blue;
    color:white;
    background: #2F80ED;
    border-radius: 8px;
    font-family: Noto Sans;
    font-style: normal;
    cursor:pointer;
}