.container{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.thumb{
    /* display: inline-flex;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    width: 638px;
    height: 418.9px;
    box-sizing: border-box;
    object-fit: cover; */


    width: 338px;
    height: 218.9px;

    border-radius: 12px;
    box-sizing: border-box;
    object-fit: cover;
}



.container p {
    color: #BDBDBD;
}

.drop-container {
    /*width: 638px;
    height: 418.9px;
    
    background: #F6F8FB;
    border: 1px dashed #97BEF4;
    box-sizing: border-box;
    border-radius: 12px;
    */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    width: 338px;
    height: 218.9px;

    background: #F6F8FB;
    border: 1px dashed #97BEF4;
    box-sizing: border-box;
    border-radius: 12px;
}
.drop-container p{
    
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: -0.035em;
    
    /* Gray 4 */
    
    color: #BDBDBD;
}
.placeholder-image{
    left: 46.06%;
    right: 46.02%;

    background: #BDBDBD;
}

.submit-button{
    padding: 9px 14px;
    border: 1px solid blue;
    color:white;
    background: #2F80ED;
    border-radius: 8px;
    /* font-family: Noto Sans; */
    font-style: normal;
    cursor:pointer;
    font-size: 12px;
    letter-spacing: -0.035em;

}